body {
    font-size: 16px;
}

.headshot {
    max-width: 50px;
}

.main-content {
    height: 400px;
}

.label-dem {
    color: #0294C7;
}

.label-rep {
    color: #D1220E;
}

.label-ind {
    color: #418B07;
}