@font-face {
     font-family: 'StateFaceRegular';
     src: url('/fonts/stateface-regular-webfont.eot');
     src: url('/fonts/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
          url('/fonts/stateface-regular-webfont.woff') format('woff'),
          url('/fonts/stateface-regular-webfont.ttf') format('truetype'),
          url('/fonts/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
     font-weight: normal;
     font-style: normal;
 }

body {
    font-size: 16px;
}

.table > thead > tr > th { 
    white-space: nowrap;
}

/* center the nav pills */
.centered-pills {
    text-align: center
}
.centered-pills ul.nav-pills {
    display: inline-block
}
.centered-pills li {
    display: inline
}
.centered-pills a {
    float: left
}
* html .centered-pills ul.nav-pills, *+html .centered-pills ul.nav-pills {
    display: inline
}

.headshot {
    max-width: 50px;
}

.nowrap {
    white-space: nowrap;
}

.label-dem {
    color: #0294C7;
}

.label-rep {
    color: #D1220E;
}

.label-ind {
    color: #418B07;
}

#contactModal {
    font-size: 0.9em;
}