---
layout: default
description: ""


---

<div class="row">
    <div class='col-sm-10 col-sm-offset-1'>
        <br />
        <br />
        <br />
        <p class='lead text-center'>Find out who your representatives are and get them to <em>do something</em></p>

        <br />
        <br />

        <div class="input-group input-group-lg col-sm-8 col-sm-offset-2">
            <input type="text" class="form-control" placeholder="Enter your address to find who represents you" id="address" name="address" >
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit" id="address-search"><i class='fa fa-search'></i> Search </button>
            </span>
        </div>

        <br />
        <br />
    </div>
</div>
<div class="row">
    <div class='col-sm-10 col-md-offset-1'>
        <div id='response-container' style="display:none;">
            <h3 class='text-center'>United States Federal Government</h3>
            <table id="federal-results" class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th><i class='fa fa-institution'></i> Office</th>
                        <th><i class='fa fa-phone'></i> Phone</th>
                        <th><i class='fa fa-comment-o'></i> Social media</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <br />
            <h3 class='text-center'>State</h3>
            <table id="state-results" class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Office</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Social media</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <div id='county-container'>
                <br />
                <h3 class='text-center'>County</h3>
                <table id="county-results" class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Office</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Social media</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <div id='local-container'>
                <br />
                <h3 class='text-center'>Local</h3>
                <table id="local-results" class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Office</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Social media</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script id="tableGuts" type="text/EJS">
    <% $.each(people, function(i, info){ %>
        <tr>
            <td>
                <% if (info.person.photoUrl) { %>
                    <img class="img-rounded headshot" src="<%= info.person.photoUrl %>" alt="<%= info.person.name %>" title="<%= info.person.name %>" />
                <% } else { %>
                    <img class="img-rounded headshot" src="/images/blank-person.jpg" alt="<%= info.person.name %>" title="<%= info.person.name %>" />
                <% } %>
            </td>
            <td>
                <%= info.person.name %>
            </td>
            <td><%= info.office.name %></td>
            <% if (info.phones){ %>
                <td>
                <% $.each(info.phones, function(i, phone){ %>
                    <% if ((i + 1) < info.phones.length){ %>
                        <%= phone %><br />
                    <% } else { %>
                        <%= phone %>
                    <% } %>
                <% }) %>
                </td>
            <% } else { %>
                <td></td>
            <% } %>
            <% if (info.emails){ %>
                <td>
                <% $.each(info.emails, function(i, email){ %>
                    <% if ((i + 1) < info.emails.length){ %>
                        <a href='mailto:<%= email %>'><%= email %></a><br />
                    <% } else { %>
                        <a href='mailto:<%= email %>'><%= email %></a>
                    <% } %>
                <% }) %>
            <% } %>
            <% if (info.channels){ %>
                <td>
                <% $.each(info.channels, function(i, channel){ %>
                    <a href="<%= channel.link %>" target="_blank"><i class="fa fa-fw fa-<%= channel.icon %>"> </i></a>
                <% }) %>
                </td>
            <% } else { %>
                <td></td>
            <% } %>
        </tr>
    <% }) %>
</script>

<script src="/js/lookup_tool.js"></script>
<script type='text/javascript'>
  //<![CDATA[

    $(function() {

      var autocomplete = new google.maps.places.Autocomplete(document.getElementById('address'));

      $("#address").val(convertToPlainString($.address.parameter('address')));
      if ($("#address").val())
        addressSearch();
      
      $('#address-search').click(function(){
        addressSearch();
      });
      
      // $('#find_me').click(function(){
      //   myMap.findMe(); 
      //   return false;
      // });
      
      // $('#reset').click(function(){
      //   myMap.reset(); 
      //   return false;
      // });
      
      $(":text").keydown(function(e){
          var key =  e.keyCode ? e.keyCode : e.which;
          if(key === 13) {
              $('#address-search').click();
              return false;
          }
      });
    });
  //]]>
</script>
