<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>
      {% if page.title %}
        {{page.title}} -
      {% endif %}
      {{site.name}}
    </title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.description %}
      <meta content="{{ page.description }}" name='description' />
    {% else %}
      <meta content="{{ site.description }}" name='description' />
    {% endif %}
    <meta content="{{ site.name }}" name='author' />

    <!-- Facebook metadata -->
    <meta content="{{ site.name }}" property="og:site_name">
    {% if page.title %}
      <meta content="{{ page.title }} - {{ site.name }}" property="og:title">
    {% else %}
      <meta content="{{ site.name }}" property="og:title">
    {% endif %}
    {% if page.title %}
      <meta content="article" property="og:type">
    {% else %}
      <meta content="website" property="og:type">
    {% endif %}
    {% if page.description %}
      <meta content="{{ page.description }}" property="og:description">
    {% else %}
      <meta content="{{ site.description }}" property="og:description">
    {% endif %}
    {% if page.url %}
      <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {% endif %}
    {% if page.date %}
      <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    {% endif %}
    {% if page.image %}
      <meta content="{{ site.url }}/{{ page.image }}" property="og:image">
    {% else %}
      <meta content="{{ site.url }}/images/usa.png" property="og:image">
    {% endif %}
    {% if page.categories %}
      {% for category in page.categories limit:1 %}
      <meta content="{{ category }}" property="article:section">
      {% endfor %}
    {% endif %}
    {% if page.tags %}
      {% for tag in page.tags %}
      <meta content="{{ tag }}" property="article:tag">
      {% endfor %}
    {% endif %}

    <!-- Twitter metadata -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ site.title }}">
    <meta name="twitter:creator" content="{{ site.title }}">
    {% if page.title %}
      <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
      <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}
    {% if page.url %}
      <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
    {% if page.description %}
      <meta name="twitter:description" content="{{ page.description }}">
    {% else %}
      <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}
    {% if page.image %}
      <meta name="twitter:image:src" content="{{ site.url }}/images/{{ page.image }}">
    {% else %}
      <meta name="twitter:image:src" content="{{ site.url }}/images/usa.png">
    {% endif %}
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

      <link rel="stylesheet" href="css/custom.css">

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
      <script>
        window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')
        var API_KEY = '{{ site.google_api_key }}';
        </script>
      <script type="text/javascript" src="https://maps.google.com/maps/api/js?libraries=places&key={{ site.google_api_key }}"></script>
      <script src="lib/modernizr-2.6.2.min.js"></script>
      <script src="lib/bootstrap.min.js"></script>
      <script src="lib/jquery.dataTables.min.js"></script>
      <script src="lib/jquery.dataTables.sorting.js"></script>
      <script src="lib/jquery.address.js"></script>
      <script src="lib/dataTables.bootstrap.js"></script>
      <script src="lib/spin.min.js" type="text/javascript"></script>
      <script src="lib/jquery.spin.js" type="text/javascript"></script>
      <script src="lib/ejs_production.js" type="text/javascript"></script>

    </head>
    <body>
    <div class='main-content'>
      <div class="container-fluid">

        <ul class="nav nav-pills pull-right">
          <li role="presentation"><a href="index.html"><i class='fa fa-home'></i> Home</a></li>
          <li role="presentation"><a href="about.html"><i class='fa fa-info-circle'></i> About</a></li>
        </ul>

        <br />
        <br />

        <div class='text-center'>
            <h1><a href='index.html'>My Reps</a></h1>
            <!-- Update this tagline! -->
            <p class='lead'>Enter your address to <strong>find and contact</strong> your federal, state, county and local elected representatives</p>
        </div>

        <br />

        {{content}}
      </div>
    </div>

    <div class='clearfix'></div>
    <div class="container-fluid">
      <div class="row" id="footer">
        <div class='col-md-10 col-md-offset-1'>
          <p class='text-center small'>
                <br /><br />
                Built by <a href='http://datamade.us' target="_blank">DataMade</a> and the <a href='http://participatorybudgeting.org/'>Participatory Budgeting Project</a> |
                Powered by the <a target='_blank' href='https://developers.google.com/civic-information/'>Google Civic Information API</a>
          </p>
        </div>
      </div>
    </div>
    <script src="js/analytics_lib.js"></script>
    <script>

      // redirecting traffic from The Healthy American, an anti-mask advocacy group, to the CDC page on wearing masks
      if (document.referrer.indexOf("thehealthyamerican.org") !== -1) {
         location.href = "https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/cloth-face-cover-guidance.html"; 
      }
    </script>

  </body>
</html>
